.calendar-events {
  display: flex;
  flex-direction: column;
}

.calendar-events-heading {
  padding: 8px;
  font-weight: 500;
  color: black;
  font-size: 1.2rem;
}

.calendar-events-event {
  display: flex;
  flex-direction: column;
  width: 420px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 8px;
  background: #f8b6b6;
  color: black;
  font-size: 1.4rem;
}

.calendar-events-event-heading {
  display: flex;
  justify-content: space-between;
}

.calendar-no-events {
  padding-left: 8px;
  font-size: 0.8rem;
}
