.calendar-header {
  display: flex;
  flex-direction: column;
  background: #f24646;
  color: black;
}

.calendar-header-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25pt;
  font-weight: 430;
  padding: 8px 16px;
}

.calendar-header-controls > div {
  text-align: center;
  cursor: pointer;
}

.calendar-header-month-arrow {
  display: flex;
}

.calendar-header-month {
  margin-top: -10px;
}

.calendar-header-year {
  font-size: 15pt;
}

.calendar-header-arrow {
  font-size: 15pt;
  padding-left: 10px;
}

.calendar-header-switchers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendar-header-switchers > div {
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 0 4px;
  border: 1px white solid;
  border-radius: 12px;
  padding: 0px 8px;
  counter-reset: white;
}

.calendar-header-weekdays {
  display: flex;
  flex-direction: row;
  font-size: 15pt;
  background: #f24646;
  color: black;
  padding: 8px 0;
}

.calendar-header-weekdays > div {
  display: flex;
  justify-content: center;
  width: calc(100% / 7);
}
 .calendar-header-weekend {
   color: white;
 }
